<section>
    <h2>square-link</h2>

    <h3>Example</h3>
    <ul class="square-grid">
        {% for item in 1..9 %}
            <li class="square-grid__col">
                {% if loop.index is odd %}
                    {% embed '@bower/square-link/square-link.html.twig' with { hover: { effect: 'fadein-and-scale', color: 'green' }, ribbon: 'ribbon' } %}
                        {% block upper_middle_content %}upper middle{% endblock %}
                        {% block middle_content %}middle{% endblock %}
                        {% block under_middle_content %}under middle{% endblock %}
                    {% endembed %}
                {% else %}
                    {% embed '@bower/square-link/square-link.html.twig' with { hover: { effect: '3d-sign', red: 'red' } } %}
                        {% block upper_middle_content %}upper middle{% endblock %}
                        {% block middle_content %}middle{% endblock %}
                        {% block under_middle_content %}under middle{% endblock %}
                    {% endembed %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <h4>Snippet</h4>
    <pre>&lt;ul class="square-grid"&gt;
    {{ "{% for item in 1..9 %}" }}
        &lt;li class="square-grid__col"&gt;
            {{ "{% if loop.index is odd %}" }}
                {{ "{% embed '@bower/square-link/square-link.html.twig' with { hover: { effect: 'fadein-and-scale', color: 'green' }, ribbon: 'ribbon' } %}" }}
                    {{ "{% block upper_middle_content %}upper middle{% endblock %}" }}
                    {{ "{% block middle_content %}middle{% endblock %}" }}
                    {{ "{% block under_middle_content %}under middle{% endblock %}" }}
                {{ "{% endembed %}" }}
            {{ "{% else %}" }}
                {{ "{% embed '@bower/square-link/square-link.html.twig' with { hover: { effect: '3d-sign', red: 'red' } } %}" }}
                    {{ "{% block upper_middle_content %}upper middle{% endblock %}" }}
                    {{ "{% block middle_content %}middle{% endblock %}" }}
                    {{ "{% block under_middle_content %}under middle{% endblock %}" }}
                {{ "{% endembed %}" }}
            {{ "{% endif %}" }}
        &lt;/li&gt;
    {{ "{% endfor %}" }}
&lt;/ul&gt;</pre>

    <h3>Sass options</h3>
</section>
